/* https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way) */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 20px #aaaaaa;
}

main {
  padding: 0.9rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
}

#time {
  text-align: center;
  font-size: 5rem;
  margin-top: 1rem;
}

#crypto {
  font-size: 1.3rem;
}

#crypto > p {
  margin: 0;
}

#crypto-top {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

#crypto-top > span {
  margin-left: 0.7rem;
}

#weather > * {
  margin: 0;
}

#weather-top > img {
  height: 70px;
}

#weather-top {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
#weather-top > * {
  margin: 0;
}

#weather-city {
  text-align: center;
  font-size: 1.3rem;
  margin-top: -15px;
}

#weather-temp {
  margin-left: -5px;
  margin-bottom: -5px;
}

#bg-author {
  font-size: 1rem;
}

.generators {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 1rem;
}

.generator {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Oxygen, sans-serif;
}

.title {
  margin: .5rem 0;
  font-size: 1.3rem;
}

#activity, #quote, #quote-author {
  margin: .7rem;
}

#quote-author {
  font-style: italic;
}

#quote-content {
  margin: 0;
}

.button-holder {
  height: 80px;
}

.activity-button, .quote-button {
  height: 80px;
  width: 80px;
  box-shadow: 0 0 10px silver;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease, height .25s ease, width .25s ease, margin .25s ease;
}

.activity-button {
  background-color: red;
  border: 1px solid red;
}

.activity-button:hover {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  box-shadow: none;
}

.quote-button {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}
.quote-button:hover {
  background-color: red;
  border: 1px solid red;
  box-shadow: none;
}

.button-shrink {
  height: 5px;
  width: 5px;
  margin-top: 40px;
  background-color: blue;
} 
